/*
    Common styles
 */

.auth-form {
    width: 500px;
    height: 320px;
    background: rgba(255,255,255,0);
    flex-direction: column;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

.auth-input {
    margin: 0 auto 20px auto;
    width: 320px;
    height: 30px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #545454;
}

.button {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 4px black;
    width: 80px;
    height: 30px;
    justify-content: center;
    user-select: none;
}

/*
    Header styles
 */

.auth-header {
    width: 200px;
    margin: 0 auto 36px auto;
    flex-direction: row;
    justify-content: space-around;
}

.sign-up_button {
    background: #00d3e8;
}

.sign-up_button:hover {
    background: #57ebff;
}

.sign-up_button:active {
    background: #97f8ff;
}

/*
    Bottom styles
 */

.login_button {
    background: #00d3e8;
    width: 160px;
    height: 36px;
    font-size: 24px;
    border: none;
    border-radius: 0;
    font-family: 'Oswald', sans-serif;
}

.login_button:hover {
    background: #57ebff;
}

.login_button:active {
    background: #97f8ff;
}

.auth-bottom {
    width: 320px;
    margin: 0 auto 0 auto;
    justify-content: space-around;
}

/* Forget password? */

.password-recovery {
    margin: auto 0 auto 0;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}