.timeline-container {
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin: 0 100px 0 100px;
}

.time-container {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.now {
    justify-content: center;
    margin-top: 10px;
    color: #555555;
}

.line-container {
    flex-direction: column;
    justify-content: center;
}

.line {
    height: 1px;
    width: 100%;
    background: #555555;
}

.time-mark {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    width: 1px;
    height: 10px;
    background: #555555;
}