.space {
    display: flex;
    flex-direction: column;
    width: 293px;
}

.main-space {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.application-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-size: cover;
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, serif;
    font-size: 16px;
}

.main-info-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 200px;
    margin: 30px 100px;
}
