.auth-container {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    margin: 28vh auto auto auto;
}

.auth-form {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 8px;
}

.authentication-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 210px;
}

.registration-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 250px;
    margin: auto;
}

.title {
    color: #191919;
    font-family: 'Lobster', cursive;
    margin-left: 40px;
    margin-bottom: 10px;
}

.auth-input {
    width: 220px;
    height: 25px;
    margin: 8px auto 8px auto;
    color: #737373;
    font-size: 16px;
    border: #747474 solid 1px;
    user-select: none;
    outline: none;
    padding: 0 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #818181;
}

.auth-button {
    font-size: 16px;
    width: 120px;
    height: 25px;
    color: #373737;
    background-color: #ffffff;
    border: #747474 solid 1px;
    border-radius: 8px;
    margin: 10px 40px auto auto;
    transition: 200ms;
    user-select: none;
    outline: none;
}

.auth-button:hover {
    background: #73a4ff;
    color: #000000;
    width: 140px;
    margin: 10px 35px auto auto;
}

.swap-button {
    background: white;
    border: #373737 1px solid;
    border-radius: 4px;
    height: 30px;
    color: #373737;
    transition: 200ms;
}

.swap-button:disabled {
    background: #73a4ff;
}

.swap-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 260px;
    margin: auto;
}
