.auth-container {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    flex-grow: 1;
}

.auth-form {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    margin: 25vh auto auto auto;
    border-radius: 8px;
    box-shadow: 1px 1px 10px black;
}

.authentication-container {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 250px;
    padding-top: 20px;
}

.registration-container {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 300px;
    padding-top: 20px;
    margin: auto;
}

.title {
    color: black;
    font-family: 'Lobster', cursive;
    margin-left: 40px;
    margin-bottom: 16px;
}

.auth-input {
    width: 260px;
    height: 30px;
    margin: 10px auto 10px auto;
    color: #737373;
    padding: 10px;
    font-size: 16px;
    border: #747474 solid 1px;
    user-select: none;
    outline: none;
}

.auth-button {
    font-size: 18px;
    width: 130px;
    height: 30px;
    color: #373737;
    background-color: #ffffff;
    border: #747474 solid 1px;
    border-radius: 8px;
    margin: 10px 40px auto auto;
    transition: 200ms;
    user-select: none;
    outline: none;
}

.auth-button:hover {
    background: #73a4ff;
    color: #000000;
    width: 140px;
    margin: 10px 35px auto auto;
}

.swap-button {
    background: white;
    border: #373737 1px solid;
    border-radius: 4px;
    height: 30px;
    color: #373737;
    transition: 200ms;
}

.swap-button:disabled {
    background: #73a4ff;
}

.swap-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 260px;
    margin: 20px auto 0 auto;
}
