.header-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 10px auto 10px auto;
    border-radius: 50%;
    box-shadow: 0 5px 5px -5px #333;
}

.header-content {
    display: flex;
    flex-direction: row;
    height: 40px;
    background: white;
}

.header-logo {
    width: 100px;
    height: 100%;
    font-family: 'Lobster', cursive;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    font-size: 24px;
    margin-left: 10px;
}

.header-button {
    background: white;
    border: #373737 1px solid;
    border-radius: 4px;
    height: 30px;
}

.header-auth-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 160px;
}

.nav-button {
    color: #737373;
    margin: auto 20px auto 20px;
}

.nav-menu {
    display: flex;
    margin: auto;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
}
