.profile-container {
    display: flex;
    flex-direction: row;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-image {
    background: #def6ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 200px;
    font-size: 72px;
    box-shadow: 1px 1px 10px black;
    color: #4b4b4b;
    margin: 10px auto auto auto;
    font-family: 'Lobster', cursive;
    user-select: none;
    border-radius: 50%;
}

.user-image-panel {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 16px;
}


.content-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0 100px;
    flex-grow: 1;
}

.daily-timeline-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.field {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: #5f5f5f;
}

.name {
    color: #000000;
    font-size: 24px;
}

.contact-info {
    font-size: 14px;
    color: #747474;
}

.login {
    font-size: 24px;
    color: #747474;
    margin: 6px 0;
}
