.minimized-panel {
    display: flex;
    flex-direction: row-reverse;
    user-select: none;
}

.templates-board {
    display: flex;
    flex-direction: column;
    background: #ecfdff;
}

.expand-button {
    background: url("../css/img/templates-icon.png") no-repeat center rgba(255,255,255, 0);
    background-size: 20px;
    width: 40px;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 50%;
    user-select: none;
    outline: none;
    transition-duration: .2s;
}

.expand-button:hover {
    background: url("../css/img/templates-icon.png") no-repeat center rgba(0,0,0,0.05);
    background-size: 26px;
    width: 40px;
    height: 40px;
    border: none;
    user-select: none;
}

.repository-panel {
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-grow: 1;
}

.none-templates {
    margin: 0 auto;
}

.template {
    margin: 10px auto;
    width: 200px;
}

.template-title {
    color: #4b4b4b;
    font-size: 12px;
    margin-left: 10px;
}

.template-characteristics {
    background: white;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 2px 2px 4px #292929;
    word-wrap: break-word;
}

.template-description {
}

.create-template-window {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background: rgba(0,0,0,0.8);
}

.create-template-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: white;
    width: 420px;
    height: 230px;
    border-radius: 6px;
    box-shadow: 0 0 10px #000000;
}

.ct-title {
    display: flex;
    flex-direction: row;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    padding: 6px 10px;
    border-bottom: #737373 1px solid;
    margin-bottom: 20px;
}

.template-input {
    display: flex;
    width: 200px;
    height: 20px;
    margin: 10px 60px auto 0;
    color: #737373;
    font-size: 14px;
    border: #747474 solid 1px;
    border-radius: 4px;
    outline: none;
    padding: 0 10px;
    background: white;
}

.date-input {
    display: flex;
    width: 100px;
    height: 20px;
    margin: 10px 0 0 0;
    color: #737373;
    font-size: 14px;
    border: #747474 solid 1px;
    border-radius: 4px;
    outline: none;
    padding: 0 10px;
    background: white;
}

.invisible-input {
    display: flex;
    flex-direction: row;
    border: none;
    outline: none;
    width: 30px;
    justify-content: center;
    margin-left: 4px;
}

.template-textarea {
    height: 60px;
    resize: none;
    padding-top: 5px;
}

.template-layout {
    margin: 12px 10px 0 auto;
    font-size: 16px;
}

.template-window-buttons {
    display: flex;
    flex-direction: row;
    margin: 0 20px 0 auto;
}

.ct-title-message {
    margin-right: auto;
}

.close-button {
    width: 16px;
    height: 16px;
    background: url("../css/img/close.png") no-repeat center;
    background-size: 16px;
    border: none;
    user-select: none;
    margin-left: auto;
}

.template-header {
    display: flex;
    flex-direction: row;
}
