.timeline-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 20px 0 20px;
}

.selected-date {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    margin: auto 24px 10px 24px;
    padding-bottom: 30px;
    border-bottom: #c3c3c3 1px solid;
}

.date-time {
    display: flex;
    flex-direction: column;
}

.time {
    width: 100px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding-left: 30px;
    margin: 0 10px 10px 10px;
}

.date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
}

.split {
    margin: 0 10px 0 10px
}

.timeline {
    display: flex;
    flex-direction: row;
    height: 300px;
    background: #b3e7ff;
    box-shadow: 0 0 10px black;
    border-radius: 20px;
}

.line-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    height: 40px;
    margin: auto 0;
}

.line {
    height: 1px;
    background: black;
}

.timeline-title {
    margin: 20px auto;
    font-size: 32px;
}
