.header-container {
    flex-direction: row;
    height: 60px;
    background: #66a8e1;
}

.header-logo {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    margin: auto 0 auto 20px;
    padding-bottom: 10px;
}

.header-nav {
    color: #FFFFFF;
    font-size: 30px;
    margin: auto 0 auto 20px;
    padding-bottom: 2px;
}

.header-element {
    margin-left: 20px;
}