.auth-container {
    flex-direction: row;
    flex-grow: 1;
    background: url("img/auth-bg.jpg") no-repeat #6fb7ff;
    background-size: 100vmax;
}

.auth-panel {
    background: rgba(255,255,255,0.5);
    flex-direction: column;
    justify-content: center;
}

.auth-content {
    flex-grow: 1;
    flex-direction: row;
}

/*
    Right side title
 */

.title-logo {
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    background: rgba(120, 120, 120, 0.5);
    backdrop-filter: blur(2px);
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    text-shadow: 4px 2px 4px black;
}

.title {
    margin-left: 2vw;
    font-size: 6vw;
}

.slogan {
    font-size: 5vw;
    justify-content: center;
}


