
# Server configuration
server:
  port: 8080
  servlet:
    context-path: /api/v1

# Spring Boot configuration
spring:
  # Database
  datasource:
    url: jdbc:postgresql://db/curevent
    username: postgres
    password: dev2020
    driver-class-name: org.postgresql.Driver
  # JPA properties
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    generate-ddl: false
    properties:
      javax:
        cache:
          missing_cache_strategy: create
        persistence:
          sharedCache:
            mode: ENABLE_SELECTIVE
      hibernate:
        cache:
          use_second_level_cache: true
          use_query_cache: true
          region:
            factory_class: org.hibernate.cache.jcache.JCacheRegionFactory
  liquibase:
    enabled: false
  flyway:
    enabled: false

# Spring Security configuration
security:
  token:
    secret: "secret"
    expire: 3600000
    type: "bearer"

# Calendarific connection properties
calendarific:
  api:
    v2:
      api_key: "6d31a7aeb4b9900e84c1856cb8043f638b361830"
      country: "RU"
# Properties fo RESTClient
webClient:
  timeout:5000
# Properties for Calendarific Service Cache
holidayCache:
  days_to_delete:3

